@import '_vars';
@import '_mixins';

.gift {
	
	position: absolute;
  top: 50%;
	left: 50%;
	width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
	background-size: contain;
	background-repeat: no-repeat;

	.icon-replace-fill("../assets/images/gift.svg", #569fff, @secondary);

	&:hover {
		.icon-replace-fill("../assets/images/close-icon.svg", #2d2d2d, @danger);
		background-size: contain;

		cursor: pointer;
	}
}


