.icon-default-fill(@src) { 
    @data-uri: data-uri('image/svg+xml;charset=UTF-8', "@{src}"); 
    background-image:e("@{data-uri}");
}

.icon-replace-fill(@src, @fill-default, @fill-new) {
	@escape-fill-default: escape("@{fill-default}");
	@escape-fill-new: escape("@{fill-new}");
	@data-uri: data-uri('image/svg+xml;charset=UTF-8', "@{src}");
	@replace-src: replace("@{data-uri}", @escape-fill-default, @escape-fill-new, "gi");
	background-image: e(@replace-src);
}