
h1 {
  line-height: 1em;
}
p {
  margin: 0;
  line-height: 2em;
}
.modal-toggler {
  display: none;
}
.modal-container {
  background: rgba(0, 0, 0, .75);;
  opacity: 0;
  color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: opacity .5s, visibility 0s linear .6s;
  z-index: 2;
  .modal-toggler:checked + & {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2em;
  border-radius: .5em;
  display: inline;
  transform: translateX(-50%) translateY(-50%);
  &.close-modal-area {
    width: 100%;
    height: 100%;
  }
  &.modal-box {
    background: @success;
    text-align: center;
    color: @text;

    .card label {
      cursor: default;
      &:hover {
        border-color: @secondary;
      }
    }
  }
  .content & {
    width: 100%;
    max-width: 40em;
  }
}
.toggle-modal-button {
  background-color: @secondary;
  color: @text;
  display: inline-block;
  padding: 1em;
  cursor: pointer;
  border-radius: .5em;
  width: 100%;
  font-size: 14px;
  
  .content & {
    color: @dark;
    margin-bottom: 1em;
  }

  &:hover {
    background: darken(@success, 20%);
    color: @base;
    text-decoration: none;
  }
}