@import '_vars';
@import '_mixins';

body {
  color: @text;
  font-size: @text-size;
}

.jumbotron {
  text-align: center;

  h1 {
    margin-bottom: 30px;
  }

  h4 {
    margin: 30px 0;
  }
}

.card {
  display: inline-block;
  text-align: center;
  width: 100%;

  label {
    width: 100%;
    border: solid 2px @secondary;
    border-radius: 5px;  
    cursor: pointer;

    &:hover {
      border-color: darken(@secondary, 20%);
    }

    .avatar {
      background: @secondary;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      padding-top: 15px;
      margin: 10px 0;

      &.glyphicon {
        font-size: 30px;
        color: @text;
      }
    }

    .name {
      background: @secondary;
      padding: 5px;
    }
  }

  [type="checkbox"] {
    display: none;

    &:checked + label {
      border: solid 2px @dark;

      &:disabled &:hover {
        border-color: @dark;
        cursor: default;
      }

      .name {
        background: @dark;
        color: @secondary;
      }
    }

    &:disabled + label {
      opacity: 0.5;

      &:hover {
        border-color: @secondary;
        cursor: default;
      }
    }
  }
}

.pairing {
  text-align: center;
}
.pairing {
  width: 100%;
  position: relative;
  display: inline-table;
  min-height: 50px;
  text-align: center;
  border: solid 2px @secondary;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 0 0 0;

  .person {
    display: table;
    width: 50%;
    height: 50px;
    display: table-cell;
    vertical-align: middle;

    &.left {
      text-align: left;  
    }
    &.right {
      text-align: right;
    }
  }

  .gift {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    background-size: contain;
    background-repeat: no-repeat;
    .icon-replace-fill("../assets/images/gift.svg", #569fff, darken(@secondary, 20%));
  }

  &:hover {
    cursor: pointer;
    border-color: @danger;
    .gift {
      .icon-replace-fill("../assets/images/close-icon.svg", #2d2d2d, @danger);
      background-size: contain;
    }
  }
}

.well {
  background-color: #fcfcfc;
}